<div class="row mb-4">
  <div class="col-12">
    <h1 class="h2">
      <span *ngIf="place.organizational && place.organizational.isBranch">{{place.organizational.parent.name}}</span>
      {{place.content.name}}
    </h1>
    <span class="text-muted" *ngFor="let subcategory of place.category.subcats">
      <a routerLink="/lugares" [queryParams]="{categoria: subcategory | urlize, lugar: place.address.country | urlize}">{{subcategory}}</a>,&nbsp;
    </span>
  </div><!-- /col -->
</div>

<!-- <div class="row">
  <div class="col-12">
    <blockquote>
      <p>Este lugar es realmente excelente y nos encanta. Lorem ipsum dolor.</p>
    </blockquote>
  </div>
</div> -->

<!-- <div class="row mb-4">
  <div class="col-9">
    <img src="http://via.placeholder.com/1000x120" class="img-fluid">
  </div>
  <div class="col-1">
    <img src="http://via.placeholder.com/120x120" class="img-thumbnail">
  </div>
  <div class="col-1">
    <img src="http://via.placeholder.com/120x120" class="img-thumbnail">
  </div>
  <div class="col-1">
    <img src="http://via.placeholder.com/120x120" class="img-thumbnail">
  </div>
</div> -->

<div class="row">

  <!-- location -->
  <div class="col-12 col-sm-5">
    <place-location-card [place]="place"></place-location-card>
    <!-- <place-location-card-edit [place]="place"></place-location-card-edit> -->
  </div>

  <!-- opening hours -->
  <!-- <div class="col-12 col-sm-3">
    <place-hours-card [place]="place"></place-hours-card>
  </div>
  <div class="col-12 col-sm-3">
    <place-hours-card-edit [place]="place"></place-hours-card-edit>
  </div> -->

  <!-- branches -->
  <div class="col-12 col-sm-7" *ngIf="branches">
    <place-branches-card [branches]="branches"></place-branches-card>
    <place-branches-card-edit [branches]="branches"></place-branches-card-edit>
  </div>

</div>