<div class="row mb-4">
  <div class="col-12">
    <h1 class="h2">
      <span *ngIf="place.organizational && place.organizational.isBranch">{{place.organizational.parent.name}}</span>
      {{place.content.name}}
    </h1>
    <span class="text-muted" *ngFor="let subcategory of place.category.subcats">
      <a routerLink="/lugares" [queryParams]="{categoria: subcategory | lowercase, lugar: place.address.country | lowercase}">{{subcategory}}</a>,&nbsp;
    </span>
  </div><!-- /col -->
</div>

<!-- <div class="row">
  <div class="col-12">
    <blockquote>
      <p>Este lugar es realmente excelente y nos encanta. Lorem ipsum dolor.</p>
    </blockquote>
  </div>
</div> -->

<!-- <div class="row mb-4">
  <div class="col-9">
    <img src="http://via.placeholder.com/1000x120" class="img-fluid">
  </div>
  <div class="col-1">
    <img src="http://via.placeholder.com/120x120" class="img-thumbnail">
  </div>
  <div class="col-1">
    <img src="http://via.placeholder.com/120x120" class="img-thumbnail">
  </div>
  <div class="col-1">
    <img src="http://via.placeholder.com/120x120" class="img-thumbnail">
  </div>
</div> -->

<div class="row">

  <!-- location -->
  <div class="col-12 col-sm-5">
    <place-location-card [place]="place"></place-location-card>
    <place-location-card-edit [place]="place"></place-location-card-edit>
  </div>

  <!-- opening hours -->
  <!-- <div class="col-12 col-sm-3">
    <place-hours-card [place]="place"></place-hours-card>
  </div>
  <div class="col-12 col-sm-3">
    <place-hours-card-edit></place-hours-card-edit>
  </div> -->

  <!-- branches -->
  <div class="col-12 col-sm-8" *ngIf="branches">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let branch of branches">
        <h3 class="h5">
          <a routerLink="/lugar/{{branch.system.id}}/{{branch.organizational.parent.slug}}/{{branch.content.slug}}">{{branch.content.name}}</a>
        </h3>
        <address class="card-text">
          {{branch.address.number}}, {{branch.address.street}}<br>
          {{branch.address.city}}, {{branch.address.country}}<br>
        </address>
      </li>
    </ul>
  </div>

</div>