<div class="card-body">
  <div class="row">
    <div class="col-12">
      <small class="text-muted">Publicidad</small>
      <h2 class="card-title h4">
        <a routerLink="/" href="#">Los Ranchos</a>
      </h2>
      <div>
        <i class="material-icons stars">grade</i>
        <i class="material-icons stars">grade</i>
        <i class="material-icons stars">grade</i>
        <i class="material-icons stars">grade</i>
      </div>
      <span>$$$&nbsp;|&nbsp;</span>
      <span class="card-subtitle mb-2 text-muted">
        <a href="#" routerLink="/lugares">Steakhouses</a>,&nbsp;
        <a href="#" routerLink="/lugares">Mariscos</a>
      </span>
    </div>
    <div class="col-12">
      <address class="card-text">
        17 Avenida Norte #345<br>
        San Salvador, El Salvador <br>
      </address>
    </div>
    <div class="col-12 mt-3">
      <q>
        Buenisimos postres, y la comida principal estaba muy buena. Recomendado sin duda.
      </q>
    </div>
  </div>
</div>