<!-- <breadcrumb-menu country="{{place.address.country}}" city="{{place.address.city}}" subcategories="{{place.category.subcats}}"></breadcrumb-menu> -->


<div class="row">
  <div class="col-10 col-sm-8">
    <h1>{{place.content.name}}</h1>
    <span class="text-muted" *ngFor="let subcategory of place.category.subcats">
      <a routerLink="/busqueda" [queryParams]="{categoria: subcategory | lowercase, lugar: place.country | lowercase}">{{subcategory}}</a>,&nbsp;
    </span>
  </div><!-- /col -->

  <div class="col-6">
    <address>
    {{place.address.number}}, {{place.address.street}}<br>
    {{place.address.city}}, {{place.address.country}}<br>
    </address>
    <p>
      <i class="material-icons align-top">phone</i>&nbsp;{{place.contact.phone}}
      <br/>
      <i class="material-icons align-top">web</i>
      <a href="{{place.contact.website}}">&nbsp;{{place.contact.website}}</a>
    </p>
  </div>
</div>