<table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">Lunes</th>
      <td>9am - 5pm</td>
    </tr>
    <tr>
      <th scope="row">Martes</th>
      <td>9am - 5pm</td>
    </tr>
    <tr>
      <th scope="row">Miercoles</th>
      <td>12am - 4pm</td>
    </tr>
    <tr>
      <th scope="row">Jueves</th>
      <td>12am - 4pm</td>
    </tr>
    <tr class="bg-success text-white">
      <th scope="row">Viernes</th>
      <td>12am - 4pm</td>
    </tr>
    <tr>
      <th scope="row">Sabado</th>
      <td>12am - 4pm</td>
    </tr>
    <tr>
      <th scope="row">Domingo</th>
      <td>12am - 4pm</td>
    </tr>
  </tbody>
</table>