<filter-places-form (priceChanged)="filterByPrice($event)" (pricePredicateChanged)="handlePricePredicateChanged($event)"></filter-places-form>

<div class="container mb-5">
  <div class="row mt-3 mb-3">
    <div class="col-10">
      <h1 class="h3">Los mejores {{category}} en {{city}}</h1>
    </div>
  </div>

  <div class="row d-block d-sm-block d-md-none d-lg-none d-xl-none mb-5">
    <div class="col-12">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="home" aria-selected="true">
            <i class="material-icons md-18 align-top">list</i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="profile" aria-selected="false">
            <i class="material-icons md-18 align-top">public</i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-7 tab-pane fade show active" id="list">

      <sort-places-form (predicateChanged)="handlePredicateChanged($event)"></sort-places-form>
      <div class="border-top-0 border-left-0 border-right-0 card mb-4" [@animating]="state" *ngFor="let place of places | priceFilter: price | orderBy: orderPredicate: reverseOrder | paginate: { itemsPerPage: 10, currentPage: p }">
        <place-card [place]="place"></place-card>
      </div>
      <pagination-controls nextLabel="Proximo" (pageChange)="p = $event" previousLabel="Anterior"></pagination-controls>

    </div>

    <div class="col-12 col-sm-12 col-md-5 tab-pane fade show" id="map">

      <!-- <ng-container *ngFor="let place of places | priceFilter: price | orderBy: orderPredicate: reverseOrder | paginate: { itemsPerPage: 10, currentPage: p }">
        <multi-marker-map (firstPlace)="handleMarkerClick($event)" (mapBoundsChanged)="handleNewMapBounds($event)" [places]="places"></multi-marker-map>
      </ng-container> -->
    
    </div>

  </div>

</div>