<header class="brand-lightest-grey navbar sticky-top">
  <div class="container mt-2 mb-2">
    <nav class="row">
      <div class="col-12 col-sm-1">
        <a class="navbar-brand" routerLink="/">
          <img src="/assets/svgs/sipi-logo.svg" width="50" height="50" alt="">
        </a>
      </div>
	  <ul class="navbar-nav">
	    <li class="nav-item active">
	      <a class="nav-link" routerLink="#" routerLinkActive="active">Categorias</a>
		</li>
	    <li class="nav-item">
	      <a class="nav-link" routerLink="#" routerLinkActive="active">Lugares</a>
		</li>
      </ul>
      <div class="col-12 col-sm-6">
        <search-form-b></search-form-b>
      </div>
      <img alt="[User's] profile image" height="30" src="//dltxjt69z9a4k.cloudfront.net/images/jorge-bw-700.jpg" width="30">
      <div class="col-12 col-sm-1">
        <a class="nav-item nav-link" href="#">Jorge</a>
      </div>
      <div class="col-4 col-sm-1">
        <review-button></review-button>
      </div>
    </nav>
  </div>
</header>
<!--
<progress-bar></progress-bar>
-->