<header class="brand-lightest-grey sticky-top navbar">
  <div class="container mt-2 mb-2">
    <a class="navbar-brand" routerLink="/">
      <img src="/assets/svgs/sipi-logo.svg" width="50" height="50" alt="">
    </a>
	<ul class="navbar-nav">
	  <li class="nav-item">
	    <a class="nav-link" routerLink="categorias">Categorias</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" routerLink="lugares">Lugares</a>
	  </li>
	</ul>
      <div class="col-12 col-sm-5 col-md-5">
        <search-form-b></search-form-b>
      </div>
      <div class="col-4 col-sm-1 col-md-1">
        <sign-up-button></sign-up-button>
      </div>
      <div class="col-4 col-sm-1 col-md-1">
        <log-in-button></log-in-button>
      </div>
  </div>
</header>
<!--
<progress-bar></progress-bar>
-->