<div *ngIf="!notifications">Aun no tiene actividad. Empieze a usar Sipi para generarla!</div>

<ul class="list-group">
  <li class="unseen list-group-item border-0 d-flex justify-content-between align-items-center" *ngFor="let notification of notifications | orderBy: 'dateCreated': true | paginate: { itemsPerPage: 5, currentPage: p }">
    <div class="row">
      <div class="col-12">
        <small class="text-muted">{{notification.dateCreated | ago}}</small>
        <h5>{{notification.title}} <small><i class="material-icons md-18 align-top muted">visibility</i></small></h5>
        <p>{{notification.message}}</p>
      </div>
    </div>
  </li>
</ul>

<pagination-controls nextLabel="Proximo" (pageChange)="p = $event" previousLabel="Anterior"></pagination-controls>