<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-3">
    <div class="nav flex-lg-column flex-xl-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="true">Editar Perfil</a>
      <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="false">Privacidad</a>
      <!-- <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-places" role="tab" aria-controls="v-pills-messages" aria-selected="false">Correo Electronico</a> -->
      <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Borrar Perfil</a>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <h3>Editar Perfil</h3>
        <edit-user-form [user]="user"></edit-user-form>
      </div>
      <div class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <h3>Privacidad</h3>
        <p>Aqui es donde puede manejar sus preferencias de privacidad.</p>
        <update-privacy-settings-form [user]="user"></update-privacy-settings-form>
      </div>
      <!-- <div class="tab-pane fade" id="v-pills-places" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <h3>Correo Electronico</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod, eros ut ultricies luctus, libero felis tristique risus, nec posuere elit purus nec nisi. Praesent mollis euismod molestie. Nullam vel dolor suscipit, luctus leo a, finibus sapien. Mauris faucibus non enim ut luctus.</p>
        <update-email-settings-form [user]="user"></update-email-settings-form>
      </div> -->
      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <h3>Borrar Perfil</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus euismod, eros ut ultricies luctus, libero felis tristique risus, nec posuere elit purus nec nisi. Praesent mollis euismod molestie. Nullam vel dolor suscipit, luctus leo a, finibus sapien. Mauris faucibus non enim ut luctus.</p>
        <request-user-deletion-form [user]="user"></request-user-deletion-form>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-3">
<h3>Cambios Recientes</h3>
    </div>
</div>