<!-- html templates with angularized markup -->
<section class="outer-container brand-light-blue">
  <form class="container">
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label"><i class="material-icons">location_on</i>Ubicacion</label>
      <div class="col-sm-10">
        <select class="form-control">
          <option *ngFor="let country of countries" value="">{{country.name}}</option>
        </select>
      </div>
    </div>
  </form>
</section>
