<div class="mb-5" *ngIf="places$ | async as places; else loading">

  <div class="row">

    <div class="col-12 col-sm-12 col-md-2">
      <!-- <filter-places-form></filter-places-form> -->
    </div>

    <!-- the places -->
    <div class="col-12 col-sm-12 col-md-4 tab-pane fade show active mt-4" id="list">
      <div class="row">
        <div class="col-12 col-sm-4 col-md-6 col-lg-3 mb-4">
          <pagination-size-form (paginationNumberChanged)="handlePaginationSize($event)"></pagination-size-form>
        </div>
        <div class="col-12 col-sm-8 col-md-6 col-lg-9 mb-4">
          <sort-places-form (predicateChanged)="handlePredicateChanged($event)"></sort-places-form>
        </div>
      </div>
      <div class="card mb-4" *ngFor="let place of places | orderBy: orderPredicate: reverseOrder | paginate: { itemsPerPage: paginationSize, currentPage: p }">
        <place-list-card [place]="place"></place-list-card>
      </div>
      <pagination-controls nextLabel="Proximo" (pageChange)="p = $event" previousLabel="Anterior"></pagination-controls>
    </div>

    <!-- the map -->
    <div class="col-12 col-sm-12 col-md-6 tab-pane fade show" id="map">
      <multi-marker-map (selectedPlace)="handleMarkerClick($event)" (mapBoundsChanged)="handleNewMapBounds($event)" [places]="places | paginate: { itemsPerPage: paginationSize, currentPage: p }"></multi-marker-map>
    </div>

  </div>

</div>