<filter-places-form></filter-places-form>
<progress-bar></progress-bar>


<div class="container">
  <div class="row mt-3">
    <div class="col-10">
      <h1 class="h3">Los 10 mejores restaurantes en Antigua</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <div class="card" *ngFor="let place of places">
	<!--      
        <div class="card-header">
          <i class="material-icons">grade</i>
	  <i class="material-icons">grade</i>
	  <i class="material-icons">grade</i>
	</div>
	-->
        <div class="card-body">
          <h3 class="card-title">
            <a href="/lugar/{{place.id}}">{{place.name}}</a>
          </h3>
          <div>
            <i class="material-icons">grade</i>
	    <i class="material-icons">grade</i>
	    <i class="material-icons">grade</i>
	  </div>
	  <span class="card-subtitle mb-2 text-muted">
	    <a href="#">Americano</a>,
	    <a href="#">Tacos</a>,
	    <a href="#">Sandwiches</a>
	  </span>
	  <address class="card-text">
	    {{place.address}} <br>
	    {{place.city}}, {{place.country}} <br>
	    {{place.phone}}
	  </address>
	</div>
	<!--
        <div class="card-footer text-muted">
          2 days ago
        </div>
	-->
      </div><!-- /.card -->
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <div id="map"></div>
    </div>


  </div>

  <pagination-menu></pagination-menu>


</div>
