<ol class="breadcrumb">
  <li class="breadcrumb-item d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">
    <a routerLink="/lugares" [queryParams]="{lugar: country | lowercase}">{{country}}</a>
  </li>
  <li class="breadcrumb-item">
    <a routerLink="/lugares" [queryParams]="{lugar: city | lowercase}">{{city}}</a>
  </li>
  <!-- <li class="breadcrumb-item active">
    <ng-container *ngFor="let subcategory of subcategories">
      <a routerLink="/lugares">{{subcategory}}, </a>
    </ng-container>
  </li> -->
</ol>