<header class="brand-lightest-grey sticky-top">
  <div class="container">
    <nav class="row mt-2 mb-2">
      <div class="col-4 col-sm-4 col-md-1">
        <a class="navbar-brand" routerLink="/">
          <img alt="El logo de Sipi" src="/assets/svgs/sipi-logo.svg" height="50" width="50">
        </a>
      </div>
      <div class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline col-md-7">
        <search-form-a class="nav-link"></search-form-a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
        <a class="nav-link nav-item" routerLink="/ciudades" routerLinkActive="active">
          <i class="material-icons">location_city</i>
          <span class="d-none d-sm-none d-md-none d-lg-inline d-xl-inline">&nbsp;Ciudades</span>
        </a>
      </div>
      <div class="col-4 col-sm-2 col-md-2">
        <a class="btn btn-primary nav-link nav-item" routerLink="/acceder">
          <i class="material-icons d-inline">person</i>
          Acceder
        </a>
      </div>
      <!-- <div class="col-4 col-sm-1 col-md-1">
        <a class="nav-link nav-item" routerLink="/inscribir">Inscribir</a>
      </div> -->
      <div class="grey col-12 col-sm-12 d-md-none d-lg-none d-xl-none">
        <search-form-b class="nav-link"></search-form-b>
      </div>
    </nav>
  </div>
</header>