<header class="brand-lightest-grey sticky-top">
  <div class="container">
    <nav class="row mt-2 mb-2">
      <div class="col-md-8"></div>
      <div class="col-4 col-sm-4 col-md-2">
        <a class="nav-link nav-item" routerLink="/ciudades" routerLinkActive="active">
          <i class="material-icons">location_city</i>
          <span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline">&nbsp;Ciudades</span>
        </a>
      </div>
      <div class="col-4 col-sm-1 col-md-1">
        <a class="nav-link nav-item" routerLink="/acceder">Acceder</a>
      </div>
      <div class="col-4 col-sm-1 col-md-1">
        <a class="nav-link nav-item" routerLink="/inscribir">Inscribir</a>
      </div>
    </nav>
  </div>
</header>