<header class="brand-lightest-grey sticky-top">
  <div class="container">
    <nav class="row mt-2 mb-2">
      <div class="col-2 col-sm-4 col-md-1">
        <a class="navbar-brand" href="/">
          <img alt="El logo de Sipi" src="/assets/svgs/sipi-logo.svg" height="50" width="50">
        </a>
      </div>
      <div class="d-none d-sm-none d-md-inline d-lg-inline d-xl-inline col-md-7">
        <search-form-a class="nav-link"></search-form-a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
        <a class="nav-item nav-link" href="/usuario/{{user.id}}">
          <img alt="{{user.firstName}}'s profile image" class="d-md-inline" height="30" [src]="user.imageFileName" width="30">
          &nbsp;<span class="badge badge-danger">{{user.notifications.unseen}}</span>
        </a>
      </div>
      <div class="grey col-12 col-sm-12 d-md-none d-lg-none d-xl-none">
        <search-form-b class="nav-link"></search-form-b>
      </div>
    </nav>
  </div>
</header>