<div class="ui">

<div class="ui tiny statistic">
	<div class="value">256</div>
	<div class="label">Restaurantes</div>
</div>

<div class="ui compact menu">
	<a class="active red item">$</a>
	<a class="orange item">$$</a>
	<a class="yellow item">$$$</a>
</div>

<div class="ui compact menu">
	<a class="active green item">Abierto</a>
</div>

<div class="ui compact menu">
	<a class="active green item">Con Ofertas</a>
</div>

<div class="ui compact menu">
	<a class="green item">Entrega Domicilio</a>
</div>

<div class="ui compact menu">
	<a class="green item">Romantico</a>
</div>

<div class="ui grid">
	<div class="four wide column">
		<h3 class="header">Organize</h3>
	</div>
	
	<div class="four wide column">
		<h3 class="header">Distancia</h3>
		<div class="ui form">
			<div class="field" *ngFor="let distance of distances">
				<div class="ui toggle checkbox">
					<input type="radio" name="throughput" checked="checked" (click)="applyFilter()">
					<label>{{distance.label}} {{distance.value}} km</label>
				</div>
			</div>
		</div>
	</div>
	
	<div class="four wide column">
		<h3 class="header">Subcategorias</h3>
		<div class="field" *ngFor="let subcategory of subcategories">
			<div class="ui checkbox">
				<input type="checkbox" name="example" (click)="applyFilter()">
				<label>{{subcategory.name}}</label>
			</div>
		</div>
	</div>
	

</div>


</div>