<form class="ui form">
  <!-- ratings -->
  <div class="ui rating massive star" data-rating="3" data-max-rating="5">
    <i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
	<i class="icon"></i>
  </div>
  <div class="field">
    <label>Su reseña</label>
    <textarea placeholder="Su reseña ayuda a la comunidad a encontrar los mejores negocios en su area. Por favor escriba con honestidad, y no para manipular los resultados." [(ngModel)]="review"></textarea>
	<p><small><a href="#">Sugerencias sobre como escribir su reseña</a></small></p>
	<submit-review-button></submit-review-button>
  </div>
</form>