<form #f="ngForm" (ngSubmit)="runSearch(f)" class="row mt-5 mb-5" novalidate>
  <div class="col-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Que? Restaurantes, La Gastroteca" aria-label="Search for...">
	  <input type="text" class="form-control" placeholder="Adonde? San Salvador, Panama" aria-label="Search for...">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" routerLink="/busqueda"><i class="material-icons md-14">search</i></button>
      </span>
    </div>	  
  </div>
</form>