<form #f="ngForm" (ngSubmit)="runSearch(f)" class="row mt-5 mb-5" novalidate>
  <div class="col-12 col-sm-12 col-md-5">
    <ng2-completer name="place" type="text" placeholder="restaurantes, La Gastroteca" ngModel required #place="ngModel" [datasource]="places"></ng2-completer>
  </div>
  <div class="col-12 col-sm-12 col-md-5">
    <ng2-completer name="location" type="text" placeholder="San Salvador, Antigua, Cuba" ngModel #location="ngModel" [datasource]="locations"></ng2-completer>
  </div>
  <div class="col-12 col-sm-12 col-md-2">
    <button type="submit" class="btn btn-primary"><i class="material-icons md-14">create</i>&nbsp;Encontrar</button>
  </div>
</form>
