<h2>Ingrese a Sipi</h2>
<h3>Aun no tiene una cuenta? <a href="registro">Registro</a>.</h3>
<form class="ui form">
	<div class="field">
		<label for="name">Email</label>
		<input type="text" name="email" placeholder="Email" [(ngModel)]="user.email" required="required">
		<div *ngIf=""></div>
		
	</div>
	<div class="field">
		<label for="password">Contrasena</label>
		<input type="password" name="password" placeholder="Contrasena" [(ngModel)]="user.password" required="required">
		<div *ngIf=""></div>
		<div>
			<small><a href="#">Olvido su contrasena?</a></small>
		</div>
		
	</div>  
	<button class="ui button blue" type="submit">Iniciar sesion</button>
	<div>
		<small>Al ingresar, acepta que esta de acuerdo con los <a href="#">terminos y condiciones</a>.</small>
	</div>
</form>

<button class="ui button blue"><i class="facebook icon"></i>&nbsp;Inicie sesion con Facebook</button>