<div class="card">
  <single-marker-map *ngIf="place.address.coordinates" class="card-img-top" [place]="place"></single-marker-map>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <!-- when not parent -->
      <address class="card-text" *ngIf="place.organizational && !place.organizational.isParent">
        {{place.address.number}}, {{place.address.street}}<br>
        {{place.address.city}}, {{place.address.country}}<br>
      </address>
      <!-- when parent -->
      <address class="card-text" *ngIf="place.organizational && place.organizational.isParent">
        Varias ubicaciones en {{place.address.country}}<br>
      </address>
    </li>
    <li class="list-group-item" *ngIf="place.contact.phone">
      <i class="material-icons align-top">phone</i>&nbsp;{{place.contact.phone}}
    </li>
    <li class="list-group-item" *ngIf="place.contact.website">
      <i class="material-icons align-top">web</i>
      <a href="{{place.contact.website}}">&nbsp;{{place.contact.website}}</a>
    </li>
    <li class="list-group-item" *ngIf="place.contact.email">
      <i class="material-icons align-top">email</i>
      <a href="mailto:{{place.contact.email}}">&nbsp;{{place.contact.email}}</a>
    </li>
  </ul>
  <div class="card-footer text-muted">
    <small>
      Actualizado hace {{place.date.modified | ago}}
      <!-- <a class="card-link" (click)="toggleEdit()"><i class="material-icons md-18 align-top">create</i>&nbsp;Actualizar</a> -->
    </small>
  </div>
</div>