<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngIf="place.hours.monday[0].open">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">
        Lunes {{place.hours.monday[0].open | amPm}} - {{place.hours.monday[0].close | amPm}}
      </time>
    </li>
    <li class="list-group-item" *ngIf="place.hours.tuesday[0].open">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">
        Martes {{place.hours.tuesday[0].open | amPm}} - {{place.hours.tuesday[0].close | amPm}}
      </time>
    </li>
    <li class="list-group-item" *ngIf="place.hours.wednesday[0].open">
      <!-- <small class="text-success"><i class="material-icons md-10 align-top text-success">schedule</i>&nbsp;Abierto ahorita</small><br> -->
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">
        Miércoles {{place.hours.wednesday[0].open | amPm}} - {{place.hours.wednesday[0].close | amPm}}
      </time>
    </li>
    <li class="list-group-item" *ngIf="place.hours.thursday[0].open">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">
        Jueves {{place.hours.thursday[0].open | amPm}} - {{place.hours.thursday[0].close | amPm}}
      </time>
    </li>
    <li class="list-group-item" *ngIf="place.hours.friday[0].open">
      <!-- <small class="text-danger"><i class="material-icons md-18 align-top text-danger">watch_later</i>&nbsp;Cerrado ahorita</small><br> -->
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">
        Viernes {{place.hours.friday[0].open | amPm}} - {{place.hours.friday[0].close | amPm}}
      </time>
    </li>
    <li class="list-group-item" *ngIf="place.hours.saturday[0].open">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">
        Sábado {{place.hours.saturday[0].open | amPm}} - {{place.hours.saturday[0].close | amPm}}
      </time>
    </li>
    <li class="list-group-item" *ngIf="place.hours.sunday[0].open">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">
        Domingo {{place.hours.sunday[0].open | amPm}} - {{place.hours.sunday[0].close | amPm}}
      </time>
    </li>
  </ul>
  <!-- <div class="card-footer text-muted">
    <small>
      Actualizado hace 13 dias
      <a class="card-link" href="#"><i class="material-icons md-18 align-top">create</i>&nbsp;Actualizar</a>
    </small>
  </div> -->
</div>