<div class="card">
  <div class="card-header">
    <i class="material-icons md-18 align-top">schedule</i> Editar horario
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <form class="row">
        <div class="col-12">
          <label>Lunes</label>
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <form class="row">
        <div class="col-12">
          <label>Martes</label>
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <form class="row">
        <div class="col-12">
          <label>Miércoles</label>
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <form class="row">
        <div class="col-12">
          <label>Jueves</label>
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <form class="row">
        <div class="col-12">
          <label>Viernes</label>
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <form class="row">
        <div class="col-12">
          <label>Sábado</label>
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
        <div class="col-6">
          <input type="time" required />
        </div>
      </form>
    </li>
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Domingo 4-8pm</time>
    </li>
  </ul>
  <button type="button" class="btn btn-success btn-block rounded-0">Block level button</button>
</div>