<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Lunes 4-8pm</time>
    </li>
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Martes 4-8pm</time>
    </li>
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Miercoles 4-8pm</time>
    </li>
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Jueves 4-8pm</time>
    </li>
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Viernes 4-8pm</time>
    </li>
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Sabado 4-8pm</time>
    </li>
    <li class="list-group-item">
      <time itemprop="openingHours" datetime="Mo 16:00-20:00">Domingo 4-8pm</time>
    </li>
  </ul>
  <div class="card-footer text-muted">
    <small>
      Actualizado hace 13 dias
      <a class="card-link" href="#"><i class="material-icons md-18 align-top">create</i>&nbsp;Actualizar</a>
    </small>
  </div>
</div>