<!-- renders main navigation, one of two versions -->
<main-menu-b></main-menu-b>

<!-- renders the component corresponding to the route -->
<main>
  <router-outlet></router-outlet>
</main>

<countries-list></countries-list>

<footer class="outer-container brand-grey">
  <div class="container">
  <div class="row pt-4 pb-4">
     <div class="col-xs-12 col-sm-12 col-md-6">
      <h3>Sipi, la guia urbana</h3>
       <p>Lorem ipsum dolor sit amet, consectet ur adipiscing elit. Aliquam tempus purus eu orci finibus consectetur. Phasellus pretium viverra pulvinar. Sed commodo porta nisi, sed pellentesque arcu ultrices ac.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
      <h3>Servicios</h3>
      <ul>
        <li><a href="#">Como te podemos ayudar?</a></li>
        <li><a href="#">Publicidad</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
      <h3>Contacto</h3>
      <ul>
        <li><a href="#">Direccion</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </div>
  </div>
  </div>
</footer>
