<router-outlet>
  <main-menu-auth></main-menu-auth>
</router-outlet>

<footer class="outer-container brand-light-grey">
  <div class="container pt-4 pb-4">
    <div class="row">
      <div class="col-12 col-sm-3 col-md-2 border-right d-none d-sm-none d-md-block">
        <img src="/assets/svgs/sipi-logo.svg" width="60" height="60" alt="Sipi logo">
      </div>
      <div class="col-12 col-sm-4 col-md-2 border-right">
        <h3 class="h6">Sipi</h3>
        <ul class="list">
          <li>
            <a routerLink="/busqueda">Búsqueda</a>
          </li>
          <!-- <li><a routerLink="/categorias">Categorias</a></li> -->
          <!-- <li><a routerLink="eventos">Eventos</a></li> -->
        </ul>
      </div>
      <div class="col-12 col-sm-4 col-md-2 border-right">
        <!-- <h3 class="h6">Soluciones Empresariales</h3>
        <ul class="list">
          <li><a routerLink="publicidad">Publicidad</a></li>
        </ul> -->
      </div>
      <div class="col-12 col-sm-3 col-md-3">
        <!-- <h3 class="h6">Empresa</h3>
        <ul class="list">
          <li><a routerLink="sobre">Sobre Sipi</a></li>
          <li><a routerLink="contacto">Contacto</a></li>
          <li><a routerLink="empleos">Empleos</a></li>
        </ul> -->
      </div>
      <div class="col-12 col-md-3">
        <!-- <p>
          <small>
            <a routerLink="politica-de-privacidad">Políza de Privacidad</a> | <a routerLink="condiciones-de-uso">Condiciones de Uso</a>
          </small>
        </p> -->
        <p>
          <small>
            <em>Derechos Reservados &copy; 2018 Servicios Integrales Pro Imagen S.A de C.V</em>
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>