<success-alert [message]="successAlert"></success-alert>
<error-alert [message]="errorAlert"></error-alert>

<form [formGroup]="privacy" (ngSubmit)="onSubmit(privacy)" novalidate>
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-legend col-sm-2">Privacidad</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" formControlName="level" type="radio" value="Low">
            Quiero que todo sea publico
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" formControlName="level" type="radio" value="Default">
            Quiero privacidad moderada (recomendada)
          </label>
          <div>
            <small>Su perfil sera visible a todo mundo, y tambien los lugares que maneja. Sin embargo, no la gente no prodra ver su actividad reciente.</small>
          </div>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" formControlName="level" type="radio" value="High">
            Quiero que todo sea privado
          </label>
        </div>
        <hr>
      </div>
    </div>
  </fieldset>
  <button type="submit" class="btn btn-primary">Actualizar Preferencias de Privacidad</button>
</form>