<!-- renders main navigation, one of three versions -->
<main-menu-auth></main-menu-auth>

<main class="container">
  <div class="row mt-5 mb-5">
    <div class="col-12 col-sm-12 col-md-8">	
      <h1>Ciudades</h1>
      <p>Una de las mejores maneras de navegar Sipi, y redescubir su ciudad, es por categorias. Suspendisse tempor velit eget iaculis efficitur. Vivamus et est lorem. Donec accumsan id lectus a porta. Aenean leo purus, scelerisque eu risus eu, congue porta nisi. Donec fermentum arcu ligula, sed commodo enim laoreet a. Suspendisse erat est, interdum in accumsan lacinia, molestie nec ligula. Proin vitae tempor nunc. Suspendisse a nibh vitae nunc gravida aliquam in ac eros. Duis facilisis vitae augue sed commodo. Sed auctor neque a enim euismod laoreet.</p>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <div id="exampleAccordion" data-children=".item">
        <div class="item">
          <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion1" aria-expanded="true" aria-controls="exampleAccordion1">
            San Salvador
          </a>
          <div id="exampleAccordion1" class="collapse show" role="tabpanel">
            <p class="mb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.
            </p>
          </div>
        </div>
        <div class="item">
          <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">
            Santa Tecla
          </a>
          <div id="exampleAccordion2" class="collapse" role="tabpanel">
            <p class="mb-3">
              Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
          </div>
        </div>
        <div class="item">
          <a data-toggle="collapse" data-parent="#exampleAccordion" href="#exampleAccordion2" aria-expanded="false" aria-controls="exampleAccordion2">
            San Miguel
          </a>
          <div id="exampleAccordion2" class="collapse" role="tabpanel">
            <p class="mb-3">
              Donec at ipsum dignissim, rutrum turpis scelerisque, tristique lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus nec dui turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<categories-list></categories-list>