<!-- <section class="outer-container homepage-image"> -->
<section class="outer-container homepage-image">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 text-center pt-5 mb-3">
        <img src="/assets/svgs/sipi-logo.svg" width="90" height="90" alt="Sipi logo">
      </div>
    </div>
    <div class="mt-5 mb-5">
      <search-form></search-form>
    </div>
  </div>
</section>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>La aplicación urbana de Centroamérica y el Caribe</h2>
    <p class="lead">Sipi te permite interactuar con tus ciudades y tus pueblos como nunca antes posible.</p>
  </div>
</div>

<section class="container-fluid pb-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <countries-list></countries-list>
    </div>
    <div class="col-12 col-sm-12 col-md-4">
      <categories-list></categories-list>
    </div>
  </div>
</section>