<section class="outer-container homepage-image">
  <div class="container pt-5 pb-5">
    <div class="row">
      <div class="col-12 text-center pt-5 mb-3">
        <img src="/assets/svgs/sipi-logo.svg" width="90" height="90" alt="Sipi logo">
      </div>
    </div>
    <div class="mt-5 mb-5">
      <search-form-a></search-form-a>
    </div>
    <div class="row">
      <!-- <div class="col-12 text-center">
        <small style="color: white">Foto: <a href="#">Tatayaki</a>, San Salvador</small>
      </div> -->
    </div>
  </div>
</section>

<section class="container pt-5">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <h2>La aplicación urbana de Centroamerica y el Caribe</h2>
      <p>Sipi te permite interactuar con tus ciudades como nunca antes posible.</p>
    </div>
  </div>
</section>

<div class="container mt-2 mb-2">
  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
</div>

<section class="container pb-5">
  <div class="row">
    <div class="col-12 col-sm-6">
      <h3>Lugares Populares</h3>
      <p></p>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Ciudades Populares</h3>
      <p>Las ciudades adonde mayor accion hay en este momento. Pellentesque ac lorem ut nunc elementum pulvinar ac nec diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. </p>
    </div>
  </div>
</section>