<success-alert [message]="successAlert"></success-alert>
<error-alert [message]="errorAlert"></error-alert>

<form [formGroup]="updatedUser" (ngSubmit)="onSubmit(updatedUser)" novalidate>
  <div class="row">
    <div class="col-6">
      <div class="form-group">
        <label for="first-name">Nombre</label>
        <input aria-describedby="first-name-help" class="form-control" formControlName="firstName" id="first-name" placeholder="Su nombre" type="text">
        <small id="name-help" class="form-text text-muted">Media vez puesto, no lo podras cambiar</small>
      </div>
      <div class="form-group">
        <label for="last-name">Apellido</label>
        <input aria-describedby="last-name-help" class="form-control" formControlName="lastName" id="last-name" placeholder="Su apellido" type="text">
        <small id="name-help" class="form-text text-muted">Media vez lo has puesto, no lo podras cambiar</small>
      </div>
    </div>
    <div class="col-6">
      <img alt="Foto de {{user.firstName}}" class="card-img-top" [src]="user.imageFileName" />
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="bio">Biografia</label>
        <textarea aria-describedby="bio-help" class="form-control" formControlName="bio" id="bio" placeholder="Una biografia corta de quien sos. No mas de 150 caracteres."></textarea>
        <small id="phone-help" class="form-text text-muted">Por ejemplo: comida favorita, ciudad favorita, etc</small>
      </div>
      <div class="form-group">
        <label for="country">Pais</label>
        <select aria-described-by="" class="form-control" formControlName="country" id="country">
          <option value="El Salvador">El Salvador</option>
          <option value="Guatemala">Guatemala</option>
        </select>
        <small id="phone-help" class="form-text text-muted">El pais en el que te ubicas</small>
      </div>
      <div class="form-group">
        <label for="city">Ciudad</label>
        <select aria-described-by="" class="form-control" formControlName="city" id="city">
          <option value="San Salvador">San Salvador</option>
          <option value="Santa Tecla">Santa Tecla</option>
        </select>
        <small id="phone-help" class="form-text text-muted">La ciudad en la que te ubicas</small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="favorites">Categorias Favoritas</label>
        <select multiple class="form-control" formControlName="favorites" id="favorites">
          <option value="Restaurantes">Restaurantes</option>
          <option value="Vida Nocturna">Vida Nocturna</option>
        </select>
      </div>
    </div>
  </div>
  <!-- <single-marker-map [place]="place"></single-marker-map> -->
  <button type="submit" class="btn btn-primary">Actualizar perfil</button>
</form>