<!-- <section class="grey pt-3 pb-3">
  <form>
    <div class="row">
      <div class="col-4 col-sm-4 col-md-2 mb-3">
        <div aria-label="Basic example" class="btn-group" role="group">
          <button class="btn btn-secondary btn-sm" [class.btn-success]="enabled2" (click)="filterByPrice($event)" type="button">$</button>
          <button class="btn btn-secondary btn-sm" [class.btn-success]="enabled3" (click)="filterByPrice($event)" type="button">$$</button>
          <button class="btn btn-secondary btn-sm" [class.btn-success]="enabled4" (click)="filterByPrice($event)" type="button">$$$</button>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-2 mb-3">
        <button class="btn btn-secondary btn-sm" (click)="clickEvent()" [ngClass]="status ? 'enabled' : 'danger'" type="button">
          <i class="material-icons">schedule</i>
          <span>&nbsp;Abierto</span>
        </button>
      </div>
      <div class="col-12 col-sm-4 col-md-2">
        <button aria-controls="collapseExample" class="btn btn-secondary btn-sm" (click)="enabled1 = !enabled1" [class.btn-success]="enabled1" data-toggle="collapse" data-target="#collapse-filters, #collapse-filter" type="button">
          <i class="material-icons">filter_list</i>&nbsp;Mas Filtros
        </button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 collapse" id="collapse-filter">
        <hr>
        <h4 class="h5">Categorias</h4>
        <div class="form-check-inline" *ngFor="let subcategory of subcategories">
          <label class="form-check-label">
            <input class="form-check-input" (click)="applyFilterChain($event)" type="checkbox" value="{{subcategory.name}}">&nbsp;{{subcategory.name}}
          </label>
        </div>
      </div>
    </div>
  </form>
</section> -->