<form [formGroup]="updatedPlace" (ngSubmit)="onSubmit(updatedPlace)" novalidate>
  <!-- map -->
  <div class="row">
    <div class="col-12">
      <editable-marker-map class="card-img-top" [place]="place"></editable-marker-map>
    </div>
  </div>
  <!-- address -->
  <div class="row mt-2 px-3">
    <div class="col-12">
      <div class="form-group">
        <label for="street-input">Número</label>
        <input aria-describedby="number-help" class="form-control" formControlName="number" id="number-input" name="number" placeholder="La direccion de calle" type="text">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="street-input">Calle</label>
        <input aria-describedby="street-help" class="form-control" formControlName="street" id="street-input" name="street" placeholder="La direccion de calle" type="text">
      </div>
    </div>
  </div>
  <div class="row px-3">
    <div class="col-12">
      <div class="form-group">
        <label for="country-input">Pais</label>
        <select aria-described-by="" class="form-control" formControlName="country" id="country-input" name="country" (change)="updateCities(updatedPlace)">
          <option *ngFor="let country of countries"
                   value="{{country.system.id}}">{{country.content.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="country-input">Ciudad</label>
        <select aria-described-by="" class="form-control" formControlName="city" id="city-input" name="city">
            <option *ngFor="let city of cities" >{{city.content.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <!-- contact -->
  <div class="row px-3">
    <div class="col-12">
      <div class="form-group">
        <label for="phone-input">Teléfono</label>
        <input aria-describedby="phone-help" class="form-control" formControlName="phone" id="phone-input" name="phone" placeholder="El telefono del lugar" type="number">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="website-input">Sitio Web</label>
        <input aria-describedby="website-help" class="form-control" formControlName="website" id="website-input" name="website" placeholder="El sitio web del lugar" type="text">
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="website-input">Correo Electrónico</label>
        <input aria-describedby="website-help" class="form-control" formControlName="email" id="email-input" name="email" placeholder="El sitio web del lugar" type="text">
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-success btn-block rounded-0">Actualizar ubicación</button>
</form>