section {

  .filters {
    background-color: lighten($brand-grey, 25%);

  }

}

.filters {
  background-color: lighten($brand-grey, 40%);

  .light-grey {
    background-color: lighten($brand-grey, 40%);
  }

}