section {

  .filter-form {
    background-color: lighten($brand-grey, 25%);

  }

}

.filter-form {
  background-color: lighten($brand-grey, 30%);

  .light-grey {
    background-color: lighten($brand-grey, 40%);
  }

}
