<div class="row">
  <div class="col-12 col-sm-12 col-md-12 col-lg-5">
    <h3>Agrega un lugar</h3>
    <p>Agregar un lugar a Sipi es totalmente gratis, y siempre sera asi. Si sos el dueno legal de blah blah blah, lorem ipsum dolor.</p>
    <add-place-form (placesChanged)="updatePlaces($event)"></add-place-form>
  </div>

  <div class="col-12 mt-2 mb-2 d-block d-sm-block d-md-block d-lg-none d-xl-none">
    <hr>
  </div>

  <div class="col-12 col-sm-12 col-md-12 col-lg-7">
    <h4>Tus lugares</h4>
    <p>Estos son los lugares que has agregado, o los que actualmente manejas.</p>

    <div class="row">
      <div class="border-bottom-0 card col-12 col-sm-12 col-md-6 mb-4" *ngFor="let place of places | orderBy: 'createdDate': true">
        <!-- <place-card-simple [place]="place"></place-card-simple> -->
      </div>
    </div>
  </div>
</div>