<div class="ui comments">
	<div class="comment" *ngFor="let review of reviews">
		<a class="avatar">
			<img src="/images/avatar/small/matt.jpg">
		</a>
		<div class="content">
			<a class="author">{{review.author}}</a>
			<div class="metadata">
				<span class="date">Hoy a las 5:42PM</span>
			</div>
			<div class="text">{{review.body}}</div>
			<div class="actions">
				<a class="reply">Reply</a>
			</div>
		</div>
		<div class="comments">
			<div class="comment">
				<a class="avatar">
					<img src="/images/avatar/small/jenny.jpg">
				</a>
				<div class="content">
					<a class="author">El que responde</a>
					<div class="metadata">
						<span class="date">Just now</span>
					</div>
					<div class="text">
					Elliot you are always so right :)
					</div>
					<div class="actions">
						<a class="reply">Reply</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>